.login .container{
    @include flex(flex, center, space-between, a, 50px);
    margin-bottom: 100px;
    padding: 0 20px;
}



.reseption_left {
    display: flex;
    align-items: center;
    width: 248px;
    gap: 20px;
    margin-top: 50px;

    i {
        color: #0B7572;
        font-size: 23px;
    }
}

.order {
    margin-top: 200px;
    font-size: 50px;
}

.reseption_right {
    width: 100%;
    margin-top: 50px;
 
}

.right_res {
    width: 100%;
    display: flex;
    padding: 30px 50px;
    background-color: #F9F9FB;
    gap: 30px;
    border-bottom: 2px solid rgb(215, 213, 213);

    .hash_four {
        padding-left: 140px;
    }

    #h4 {
        width: 100%;
        margin-left: 130px;
        font-size: 14px;
    }
}

@media (max-width: 1050px) {
    .right_res {
        #h4, h4 {
            font-size: 10px;
        }

        p {
            font-size: 15px;
        }
    }
}

@media (max-width: 8500px) {
    .login .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .reseption_left {
        i {
            font-size: 30px;
        }

        .phone {
            font-size: 20px;
        }
    }
    .order{
        font-size: 30px;
    }
}

@media (max-width: 551px) {
    .right_res {
        display: block;
    }

    .hash_four {
        transform: translateX(-140px);
    }

    #h4 {
        transform: translateX(-130px);
    }
}

@media (max-width: 351px) {
   
    #h4 {
        font-size: 7px;
    }
}